.container-1 {
  align-items: center;
  display: flex;
  justify-content: center;

  /* not related to flex */
  background-color: skyblue;
  height: 400px;
  width: 400px;
}
 
.property {
  background-color: grey;
  height: 320px;
  width: 320px;
}
  
.class {
  background-color: white;
  height: 240px;
  width: 240px;
}

.element {
  background-color: yellow;
  height: 160px;
  width: 160px;
} 