.container-1 {
  align-items: center;
  display: flex;
  justify-content: center;

  /* not related to flex */
  background-color: springgreen;
  height: 200px;
  width: 200px;
}

.element {
  background-color: magenta;
  height: 100px;
  width: 100px;
}